.student-app {
  .flx-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flx-align-center {
    display: flex;
    align-items: center;
  }

  .flx-justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mle {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: 10px;
    background: rgba(148, 163, 184, 0.58);
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 116, 139, 0.72);
    background-clip: padding-box;
  }
}
